@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
*, *::after, *::before{
    margin: 0;
    padding: 0;
}

.language-text{
    background-color: black !important;
    color:  white !important;
}

*{
    font-family: 'Gotu', sans-serif;
}

*::selection{
    color: black;
    background-color: white;
}

body{
    background-color: black;
    color: white;
}

.site-title{
    margin: 15px 0;
    margin-left: 20px;
}

header{
    border-bottom: 1px solid #7e7e7e;
    margin-bottom: 30px;
}
.site-title a{
    color: white;
    text-decoration: none;
}

.site_wrapper{
    min-height: 100vh;
}
.container{
    padding: 0 10vw;
}

.blogtile-wrapper{
    margin-bottom: 60px;
}

.blogtile-title{
    font-size: 25px;
    font-weight: 500;
    color:  yellow;
    text-decoration: none;
    margin-bottom: 100px !important;
}

.blogtile-date{
    font-size: 17px;
    text-align: right;
    color: rgb(173, 173, 173);
}

.blogtile-img{
    width: 80%;
    margin: 10px auto;
    height: 300px;
    object-fit: scale-down;
}

.blogtile-excerpt{
    padding-top: 20px;
    font-size: 16px;
}


/* BLOG */

.blog-blogtitle{
     font-size: 25px;
     margin-top: 20px;
     color: rgb(53, 241, 194);
}



.footer-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 10px;
}


.footer-wrapper .footer-links{
    margin: 10px;
}

.blog-content p{
    font-size: 18px;
    margin: 8px 0;
}

.blog-content p strong{
    padding: 15px 0;
}


.blog-content h3{
    margin: 18px 0;
    color: rgb(169, 217, 245);
}

.blog-content h2{
    margin: 18px 0;
    color: rgb(204, 213, 255);
}

.blog-content h1{
    margin: 18px 0;
}

code.language-text{
    background-color: rgb(45, 45, 45) !important;
    color:  rgb(226, 224, 224) !important;
    padding: 0 10px !important;
}